body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/011/426/596/original/dark-tangerine-abstract-low-polygon-background-vector.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000;
}

h1 {
    text-align: center;
    margin-top: 135px;
    margin-bottom: 30px;
    font-size: 35px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(10, 10, 10, 10); /* Shadow effect */
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffff;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #1082fd;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1687ff;
}