<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">

</head>
<body>
    <h1>Get Password</h1>
    <form action="/get_password" method="post">
        <label for="website">Enter Website:</label>
        <input type="text" id="website" name="website" required><br><br>
        <input type="submit" value="Get Password">
    </form>
</body>
</html>
